.grid-container {
	display: grid;
	margin: 5% 10%;
	grid-template-columns: auto auto auto auto;
	background-color: #497174;
	padding: 10px;
}

.grid-item {
	width: auto;
	background-color: #fff;
	border: 0.5em solid #497174;
	padding: 0.5rem;
	font-size: 1rem;
}

.wrapper {
	padding: 1%;
	width: 80%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.clearfix {
	float: none;
	clear: both;
}

.tbl-full {
	width: 100%;
}

.tbl-60 {
	width: 60%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

table tr th {
	/* border-bottom: 1px solid black; */
	padding: 1%;
	text-align: left;
}

table tr td {
	padding: 1%;
}

.btn-primary {
	background-color: #116530;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #0B4619;
}

.btn-secondary {
	background-color: #46B5D1;
	padding: 1%;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.btn-secondary:hover {
	background-color: #3282B8;
}

.btn-danger {
	background-color: #FF5D5D;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #FF2442;
}

.success {
	color: #2ed573;
}

.error {
	color: #FF2442;
}

/* CSS for navbar */
nav {
	border-bottom: 1px solid grey;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	padding: 1%;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #FFD24C;
}

nav ul li a:hover {
	color: #FFE69A;
}

/* CSS for main-content */
.main-content {
	background-color: #f1f2f6;
	padding: 3% 0;
}

.col-4 {
	width: 18%;
	background-color: white;
	margin: 1%;
	padding: 2%;
	float: left;
}

/* CSS for Footer */
footer {
	background-color: #FFD24C;
	color: white;
}

/* CSS for Login */
.login {
	border: 1px solid grey;
	width: 20%;
	margin: 10% auto;
	padding: 2%;
}

